
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

:root {
  --background-color: #101015;
  --text-color: #f0f0f5;
}

/* Reset for the 3D experience */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  /* Hide scrollbar for smooth 3D experience, if desired */
  overflow: auto; 
}